<nav class="navbar">
    <div class="navbar__container">
      <img
        src=""
        alt="logo"
        class="navbar__logo"
      />
      <div class="navbar__link-box">
        <p class="navbar__link" [routerLink]="['home']">home</p>
        <p  class="navbar__link"[routerLink]="['galleries']">galleries</p>
        <p  class="navbar__link"[routerLink]="['contact']">contact</p>
        
      </div>
    </div>
  </nav>
