@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?o56owu');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?o56owu#iefix') format('embedded-opentype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?o56owu') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?o56owu') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?o56owu##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-align-justify {
    &:before {
      content: $icon-align-justify; 
    }
  }
  .icon-camera {
    &:before {
      content: $icon-camera; 
    }
  }
  .icon-chevron-up {
    &:before {
      content: $icon-chevron-up; 
    }
  }
  .icon-corner-right-up {
    &:before {
      content: $icon-corner-right-up; 
    }
  }
  .icon-gitlab {
    &:before {
      content: $icon-gitlab; 
    }
  }
  .icon-instagram {
    &:before {
      content: $icon-instagram; 
    }
  }
  .icon-map-pin {
    &:before {
      content: $icon-map-pin; 
    }
  }
  .icon-twitter {
    &:before {
      content: $icon-twitter; 
    }
  }
  .icon-user {
    &:before {
      content: $icon-user; 
    }
  }
  .icon-video {
    &:before {
      content: $icon-video; 
    }
  }
  .icon-x-circle {
    &:before {
      content: $icon-x-circle; 
    }
  }
  .icon-zoom-out {
    &:before {
      content: $icon-zoom-out; 
    }
  }
  .icon-comment {
    &:before {
      content: $icon-comment; 
    }
  }
  .icon-chrome {
    &:before {
      content: $icon-chrome; 
    }
  }
  
  