<section class="form">
    <div class="form__container">
        
        
        <form autocomplete="off" (ngSubmit)='onSubmit()' [formGroup]="reservationForm" class="form__form">
            <fieldset class="form__fieldset">
                <label for="name">nombre:</label>
                <input type="text" id="name" formControlName="name" class="form__input-name">
                <div *ngIf="(!reservationForm.get('name')?.valid && reservationForm.get('name')?.dirty) || submitted" class="error">
                    <p>El nombre es inválido</p>
                </div>
            </fieldset>
            <fieldset class="form__fieldset">
                <label for="surname" class="form__label">apellido:</label>
                <input type="text" id="surname" formControlName="surname" class="form__input-surname">
                <div *ngIf="(!reservationForm.get('surname')?.valid && reservationForm.get('surname')?.dirty) || submitted" class="error">
                    <p>El apellido es inválido</p>
                </div>
            </fieldset>
            <fieldset class="form__fieldset">
                <label for="email" class="form__label">email:</label>
                <input type="text" id="email" formControlName="email" class="form__input-email">
                <div *ngIf="(!reservationForm.get('email')?.valid && reservationForm.get('email')?.dirty) || submitted" class="error">
                    <p>El email es inválido</p>
                </div>
            </fieldset>
            <fieldset class="form__fieldset">
                <label for="message" class="form__label">mensaje:</label>
                <textarea id="message" formControlName="message" class="form__input-message"></textarea>
                <div *ngIf="(!reservationForm.get('message')?.valid && reservationForm.get('message')?.dirty) || submitted" class="error">
                    <p>No te enrolles</p>
                </div>
            </fieldset>
           
            
        
            <button type="submit" [disabled]="!reservationForm.valid" class="form__button">Enviar</button>

        </form>

    </div>
</section>

